@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&family=Wix+Madefor+Display:wght@400;600;700&display=swap');

:root {
  --borderColor: #cbd5e1; /* slate300 */
  --textColor: #020617; /* slate950 */
  --backgroundColor: #f8fafc; /* slate50 */
  --linkColor: #3b82f6; /* blue500 */
  --linkHoverColor: #2563eb; /* blue600 */
}

[data-theme='dark'] {
  --borderColor: #334155; /* slate700 */
  --textColor: #f1f5f9; /* slate100 */
  --backgroundColor: #0f172a; /* slate900 */
  --linkColor: #60a5fa; /* blue400 */
  --linkHoverColor: #3b82f6; /* blue500 */
}

.keyboard {
  font-family: 'Wix Madefor Display', sans-serif;
  position: fixed;
  inset: auto 1rem 1rem auto;
  padding: 0.75rem;
  border-radius: 0.5rem;
  user-select: none;
  opacity: 0.75;
  border: 1px solid var(--borderColor);
  color: var(--textColor);
}

.keyboard:is(:active, :hover) {
  opacity: 1;
}

.keyboard > kbd {
  border: 1px solid var(--borderColor);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
}

.keyboard > kbd:first-child {
  margin-left: 0.75rem;
}

.modal {
  display: none;
  font-family: 'Wix Madefor Display', sans-serif;
  color: var(--textColor);
}

.modal__overlay {
  background-color: rgba(0, 0, 0, 0.45);
  position: fixed;
  inset: 0;
  animation: overlayShow 300ms cubic-bezier(0.16, 1, 0.3, 1);
}

.modal__content {
  background-color: var(--backgroundColor);
  border-radius: 1rem;
  box-shadow: hsl(206 22% 7% / 35%) 0 1rem 3.8rem -1rem, hsl(206 22% 7% / 20%) 0 1rem 2rem -1.5rem;
  position: fixed;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  width: clamp(26rem, 75%, 40rem);
  animation: contentShow 300ms cubic-bezier(0.16, 1, 0.3, 1);
  padding: 2rem;
}

.modal__content:focus {
  outline: none;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  font-size: 2rem;
  font-weight: 600;
}

.modal__close > svg {
  height: 2rem;
  width: 2rem;
  fill: var(--textColor);
}

.modal__body {
  margin-top: 2rem;
}

.modal__list {
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1rem;
  row-gap: 0.5rem;
}

.modal__list > dd {
  font-weight: 600;
  white-space: nowrap;
}

.modal__list > dt > a {
  color: var(--linkColor);
}

.modal__list > dt > a:is(:active, :hover) {
  color: var(--linkHoverColor);
}

.modal__icons {
  display: flex;
  column-gap: 2rem;
  margin-top: 2rem;
  justify-content: center;
}

.modal__icons > a > svg {
  height: 2.4rem;
  width: 2.4rem;
  fill: var(--linkColor);
}

.modal__icons > a > svg:is(:hover, :active) {
  fill: var(--linkHoverColor);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -45%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
